<h1>Editing transport</h1>

<%= render "form", transport: @transport %>

<br>

<div>
  <%= link_to "Show this transport", @transport %> |
  <%= link_to "Back to transports", transports_path %>
</div>
