<div class="container">

<p style="color: green"><%= notice %></p>

<h1 class="text-center">Транспорт</h1>
<div class="text-center"><%= link_to "Добавить Транспорт", new_transport_path, class: "btn btn-success" %></div> <br>


<div id="transports">
  <% @transports.each do |transport| %>
    <%= render transport %>
    <br>
  <% end %>
</div>


</div>