<div class="container">
<h1 class="text-center">Новый транспорт</h1>

<%= render "form", transport: @transport %>

<br>

<div>
  <%= link_to "Список транспорта", transports_path, class: "btn btn-primary" %>
</div>
</div>