<div id="<%= dom_id payment_tag %>">
  <p>
    <strong>Тэг </strong>
    #<%= payment_tag.name %>
  </p>

  <p>
    <strong>Комментарий к тэгу:</strong>
    "<%= payment_tag.comment %>"
  </p>

</div>
