<div class="container">
<h1 class="text-center">Создание нового тэга</h1>

<%= render "form", payment_tag: @payment_tag %>

<br>

<div>
  <%= link_to "Список тэгов", payment_tags_path %>
</div>
</div>