<div class="container">
<h1 class="text-center">Редактировать запись</h1>

<%= render "form", diary: @diary %>

<br>

<div>
  <%= link_to "Подробнее", @diary, class: "btn btn-primary" %> 
  <%= link_to "Дневник", diaries_path, class: "btn btn-primary" %>
</div>
</div>