<p style="color: green"><%= notice %></p>

<h1 class="text-center">Дневник</h1>

<div class="text-center">
  <%= link_to "Добавить запись", new_diary_path, class: "btn btn-success" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Дата</th>
      <th scope="col">Работник</th>
      <th scope="col">Работа</th>
      <th scope="col">Выполненый объем</th>
      <th scope="col">Часы</th>
      <th scope="col">...</th>
    </tr>
  </thead>
  <tbody>
    <% @diaries.each do |diary| %>
      <%= render diary %>
    <% end %>
  </tbody>
</table>


