<div class="container">

<p style="color: green"><%= notice %></p>

<h1 class="text-center">Заказчики</h1>
<div class="text-center">
<%= link_to "Добавить заказчика", new_customer_path, class: "btn btn-success" %>
</div>

<div id="customers">
  <% @customers.each do |customer| %>
  <br>
    <%= render customer %>
  <% end %>
</div>

</div>