<div class="container">
<h1 class="text-center">Новый заказчик</h1>

<%= render "form", customer: @customer %>

<br>

<div>
  <%= link_to "Список заказчиков", customers_path, class: "btn btn-primary" %>
</div>
</div>