<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Новое письмо с profistylegroup.com</p>
    <p>
    Детали:<br>
    --------------------------
    </p>
    <p>Имя отправителя: <%= @name %></p>
    <p>Email отправителя: <%= @email %></p>
    <p>
    Сообщение:<br>
    ----------
    </p>
    <p><%= @message %></p>
  </body>
</html>