<p style="color: green"><%= notice %></p>

<h1 class="text-center">Поставки</h1>

  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Дата</th>
      <th scope="col">Объект</th>
      <th scope="col">Поставщик</th>
      <th scope="col">Материалы</th>
      <th scope="col">...</th>
    </tr>
  </thead>
  <tbody>
    <% @supplies.each do |supply| %>
      <%= render supply %>
    <% end %>
  </tbody>
  </table>
