<div class="container">
<h1 class="text-center">Новая поставка</h1>

<%= render "form", supply: @supply %>

<br>

<div>
  <%= link_to "Список поставок", supplies_path, class: "btn btn-primary" %>
</div>
</div>