<div id="<%= dom_id payment %>">
  <p>
    <strong>Date:</strong>
    <%= payment.date %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= payment.size %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= payment.description %>
  </p>

</div>
