<div class="container" style="margin-top: 20px;">
	<h1 class="text-center">Выберите к чему привязать платёж</h1>
	<br>

	<div class="btn btn-success choose-block">
		<h1 class="text-center"><a href="/workers_list_for_payments" class="button-link">Работники</a></h1>
	</div>

	<div class="btn btn-success choose-block">
		<h1 class="text-center"><a href="/works_list_for_payments" class="button-link">Работа</a></h1>
	</div>

	<div class="btn btn-success choose-block">
		<h1 class="text-center"><a href="/customers_list_for_payments" class="button-link">Заказчики</a></h1>
	</div>

	<div class="btn btn-success choose-block">
		<h1 class="text-center"><a href="/supplies_list_for_payments" class="button-link">Поставки</a></h1>
	</div>

	<div class="btn btn-success choose-block">
		<h1 class="text-center"><a href="/transports_list_for_payments" class="button-link">Транспорт</a></h1>
	</div>

	<div class="btn btn-success choose-block">
		<h1 class="text-center"><a href="/instruments_list_for_payments" class="button-link">Инструменты</a></h1>
	</div>

	<div class="btn btn-danger choose-block">
		<h1 class="text-center"><a href="/payments/new" class="button-link">Без привязки</a></h1>
	</div>

</div>

<style type="text/css">
	.button-link {
		text-decoration: none;
		color: white;
	}

	.button-link:hover {
		color: white;	
	}

	.choose-block {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
		margin-bottom: 10px;
	}
</style>