<div class="container">
<h1 class="text-center">Новый платёж</h1>

<%= render "form", payment: @payment %>

<br>

<div>
  <%= link_to "Список платежей", payments_path, class: "btn btn-primary" %>
</div>
</div>