<div class="container">
<p style="color: green"><%= notice %></p>

 <h1 class="text-center">Работники</h1> 
 <p class="text-center"><%= link_to "Добавить работника", new_worker_path, class: "btn btn-success" %></p>

<div id="workers">
  <% @workers.each do |worker| %>
    <%= render worker %>
    <br>
  <% end %>
</div>
</div>

