<div class="container">

<h1 class="text-center">New worker</h1>

<%= render "form", worker: @worker %>

<br>

<div>
  <%= link_to "Список работников", workers_path, class: "btn btn-primary" %>
</div>

</div>