<div class="container">
<p style="color: green"><%= notice %></p>

<h1 class="text-center">Suppliers</h1>
<div class="text-center">
<%= link_to "Добавить поставщика", new_supplier_path, class: "btn btn-success" %>
</div>
<br>

<div id="suppliers">
  <% @suppliers.each do |supplier| %>
    <%= render supplier %>
    <br>
  <% end %>
</div>


</div>