<div class="container">
<h1 class="text-center">Создание поставщика</h1>

<%= render "form", supplier: @supplier %>

<br>

<div>
  <%= link_to "Список поставщиков", suppliers_path, class: "btn btn-primary" %>
</div>
</div>