<div id="<%= dom_id instrument %>">
  <p>
    <strong>Name:</strong>
    <%= instrument.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= instrument.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= instrument.location_id %>
  </p>

</div>
