<div class="container kartochka">
  <div class="row">
    <div class="col-md-6">
    <p>
      <strong>Название:</strong>
      <%= instrument.name %>
    </p>
  <p>
    <strong>На объекте:</strong>
    <%= instrument.location.name %>
  </p>
    </div>
    <div class="col-md-6">
      <br>
      <p>
        <%= link_to "Подробнее", instrument_path(instrument), class: "btn btn-primary" %>
      </p>
    </div>
  </div>
  <div class="row">
    <p>
      <strong>Описание:</strong>
      <%= instrument.description %>
    </p>
  </div>
</div>