<h1>Editing instrument</h1>

<%= render "form", instrument: @instrument %>

<br>

<div>
  <%= link_to "Show this instrument", @instrument %> |
  <%= link_to "Back to instruments", instruments_path %>
</div>
