<div class="container">
<p style="color: green"><%= notice %></p>

<h1 class="text-center">Инструменты</h1>
<div class="text-center">
<%= link_to "Добавить инструмент", new_instrument_path, class: "btn btn-success" %>
</div>
<br>

<div id="instruments">
  <% @instruments.each do |instrument| %>
    <%= render instrument %>
    <br>
  <% end %>
</div>

</div>