<div class="container">
<h1 class="text-center">Новый инструмент</h1>

<%= render "form", instrument: @instrument %>

<br>

<div>
  <%= link_to "Список инструментов", instruments_path, class: "btn btn-primary" %>
</div>
</div>