<div class="container kartochka">
  <div class="row">
    <div class="col-md-6">
      <p>
        <strong>Название:</strong>
        <%= location.name %>
      </p>
      <p>
        <strong>Адрес:</strong>
        <%= location.adress %>
      </p>
      <p>
        <% if location.flag %>
        <strong class="text-success">Активен</strong>
        <% else %>
        <strong class="text-danger">Неактивен</strong>
        <% end %>
      </p>
    </div>
    <div class="col-md-6">
      <p>
        <strong>Делается работ:</strong>
        <%= location.works.count %>
      </p>
      <p>
        <%= link_to "Подробнее", location_path(location), class: "btn btn-primary" %>
      </p>
    </div>
  </div>
</div>