<p style="color: green"><%= notice %></p>

<h1 class="text-center">Объекты</h1>
<div class="text-center">
  <%= link_to "Добавить объект", new_location_path, class: "btn btn-success" %>
</div>
<br>

<div id="locations">
  <% @locations.each do |location| %>
      <%= render location %>
    <br>
  <% end %>
</div>


